mpavlovi2_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/mpavlovi2_aplikacija_1/GeoWeatherWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.servers.mpavlovi2.nwtis.foi.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.servers.mpavlovi2.nwtis.foi.hr/" name="GeoWeatherWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.servers.mpavlovi2.nwtis.foi.hr/" schemaLocation="http://localhost:8084/mpavlovi2_aplikacija_1/GeoWeatherWS?xsd=1" />
</xsd:schema>
</types>
<message name="getCurrentWeatherData">
<part name="parameters" element="tns:getCurrentWeatherData" />
</message>
<message name="getCurrentWeatherDataResponse">
<part name="parameters" element="tns:getCurrentWeatherDataResponse" />
</message>
<message name="getGeoWeatherRankList">
<part name="parameters" element="tns:getGeoWeatherRankList" />
</message>
<message name="getGeoWeatherRankListResponse">
<part name="parameters" element="tns:getGeoWeatherRankListResponse" />
</message>
<message name="getLastWeatherData">
<part name="parameters" element="tns:getLastWeatherData" />
</message>
<message name="getLastWeatherDataResponse">
<part name="parameters" element="tns:getLastWeatherDataResponse" />
</message>
<message name="getWeatherDataInInterval">
<part name="parameters" element="tns:getWeatherDataInInterval" />
</message>
<message name="getWeatherDataInIntervalResponse">
<part name="parameters" element="tns:getWeatherDataInIntervalResponse" />
</message>
<message name="getNearWeatherStations">
<part name="parameters" element="tns:getNearWeatherStations" />
</message>
<message name="getNearWeatherStationsResponse">
<part name="parameters" element="tns:getNearWeatherStationsResponse" />
</message>
<message name="getHourlyWeatherForecast">
<part name="parameters" element="tns:getHourlyWeatherForecast" />
</message>
<message name="getHourlyWeatherForecastResponse">
<part name="parameters" element="tns:getHourlyWeatherForecastResponse" />
</message>
<message name="getDailyWeatherForecast">
<part name="parameters" element="tns:getDailyWeatherForecast" />
</message>
<message name="getDailyWeatherForecastResponse">
<part name="parameters" element="tns:getDailyWeatherForecastResponse" />
</message>
<message name="getUserAddresses">
<part name="parameters" element="tns:getUserAddresses" />
</message>
<message name="getUserAddressesResponse">
<part name="parameters" element="tns:getUserAddressesResponse" />
</message>
<message name="getAllAddresses">
<part name="parameters" element="tns:getAllAddresses" />
</message>
<message name="getAllAddressesResponse">
<part name="parameters" element="tns:getAllAddressesResponse" />
</message>
<portType name="GeoWeatherWS">
<operation name="getCurrentWeatherData">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getCurrentWeatherDataRequest" message="tns:getCurrentWeatherData" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getCurrentWeatherDataResponse" message="tns:getCurrentWeatherDataResponse" />
</operation>
<operation name="getGeoWeatherRankList">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getGeoWeatherRankListRequest" message="tns:getGeoWeatherRankList" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getGeoWeatherRankListResponse" message="tns:getGeoWeatherRankListResponse" />
</operation>
<operation name="getLastWeatherData">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getLastWeatherDataRequest" message="tns:getLastWeatherData" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getLastWeatherDataResponse" message="tns:getLastWeatherDataResponse" />
</operation>
<operation name="getWeatherDataInInterval">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getWeatherDataInIntervalRequest" message="tns:getWeatherDataInInterval" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getWeatherDataInIntervalResponse" message="tns:getWeatherDataInIntervalResponse" />
</operation>
<operation name="getNearWeatherStations">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getNearWeatherStationsRequest" message="tns:getNearWeatherStations" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getNearWeatherStationsResponse" message="tns:getNearWeatherStationsResponse" />
</operation>
<operation name="getHourlyWeatherForecast">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getHourlyWeatherForecastRequest" message="tns:getHourlyWeatherForecast" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getHourlyWeatherForecastResponse" message="tns:getHourlyWeatherForecastResponse" />
</operation>
<operation name="getDailyWeatherForecast">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getDailyWeatherForecastRequest" message="tns:getDailyWeatherForecast" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getDailyWeatherForecastResponse" message="tns:getDailyWeatherForecastResponse" />
</operation>
<operation name="getUserAddresses">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getUserAddressesRequest" message="tns:getUserAddresses" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getUserAddressesResponse" message="tns:getUserAddressesResponse" />
</operation>
<operation name="getAllAddresses">
<input wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getAllAddressesRequest" message="tns:getAllAddresses" />
<output wsam:Action="http://ws.servers.mpavlovi2.nwtis.foi.hr/GeoWeatherWS/getAllAddressesResponse" message="tns:getAllAddressesResponse" />
</operation>
</portType>
<binding name="GeoWeatherWSPortBinding" type="tns:GeoWeatherWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCurrentWeatherData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getGeoWeatherRankList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastWeatherData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getWeatherDataInInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNearWeatherStations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getHourlyWeatherForecast">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDailyWeatherForecast">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserAddresses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllAddresses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoWeatherWS">
<port name="GeoWeatherWSPort" binding="tns:GeoWeatherWSPortBinding">
<soap:address location="http://localhost:8084/mpavlovi2_aplikacija_1/GeoWeatherWS" />
</port>
</service>
</definitions>